.main-footer {
    width: 100%;
    padding: 50px 0px;
    background-color: #fbd64a;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
    }

}

.box-footer {
    display: flex;
    flex-direction: column;
    padding: 40px;

    & h2 {
        margin-bottom: 30px;
        font-weight: 700;
        font-family: STARWARS;
    }

    & a {
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
        text-decoration: none;
        text-align: center;

        &:hover {
            opacity: .8;
        }
    }
}

.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;

    & p {
        margin-top: 20px;
        color: #7a7a7a;
    }

    & hr {
        border: none;
        height: 1px;
        background-color: #7a7a7a;
    }
}