<div class="main-footer__container">
    <div class="box-footer">
        <h2>Soluciones</h2>
        <a href="#">Pago virtual</a>
        <a href="#">Domicilio</a>
        <a href="#">Quejas y reclamos</a>
        <a href="#">Atencion en linea</a>
    </div>

    <div class="box-footer">
        <h2>Compañia</h2>
        <a href="#">Acerca de</a>
        <a href="#">Trabajos</a>
        <a href="#">Procesos</a>
        <a href="#">Servicios</a>
    </div>

    <div class="box-footer">
        <h2>Redes Sociales</h2>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Linkedin</a>
        <a href="#">Instagram</a>
    </div>
</div>

<div class="box-copyright">
    <hr>
    <p>Todos los derechos reservados © 2021 <b>COSMIC STORE</b></p>
</div>