<a href="/#/" class="main-header__logo-container">
    <img src="../../public/img/logo.jpeg" alt="">
</a>
<div class="main-header__search-form-container">
    <form action="" class="main-header__search-form-container__bar">
        <input type="text" placeholder="Buscar" name="B">
        <button type="submit"><img src="../../public/img/serch.jpeg"></button>
    </form>
</div>
<a href="/#/cart" class="main-header__cart-button-container">
    <button><img src="../../public/img/carrito.png"></button>
</a>
<div class="main-header__hamburger-button-container">
    <label class="hamburger-button" for="main-nav-toggle">
        <span class="hamburger-button__top-bread"></span>
        <span class="hamburger-button__meat"></span>
        <span class="hamburger-button__bottom-bread"></span>
    </label>
</div>
<div class="main-header__main-nav-container">
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item">
                <a href="/" class="main-nav__link">Inicio</a>
            </li>
            <li class="main-nav__item">
                <a href="/new" class="main-nav__link">Alta</a>
            </li>
            <li class="main-nav__item">
                <a href="" class="main-nav__link">Contacto</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">Nosotros</a>
            </li>
        </ul>
    </nav>
</div>