<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/head.ejs'); %>
</head>
<body>
    <input type="checkbox" id="main-nav-toggle" class="main-nav-toggle">
    <header class="main-header">
        <%- include('../views/header'); %>
    </header>
    <main id="main-container" class="main">
        <%- include('../views/main'); %>
    </main>
    <footer class="main-footer">
        <%- include('../views/footer'); %>
    </footer>
</body>
</html>