.cards-container {
    // border: 4px solid red;
    padding: 1em;
    margin: 0px;
    display: flex;
    width: 680px;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    align-items: stretch;
}

h1 {
    font-family: 'STARWARS';
    color: #fbd64a;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 40px 0px 10px 10px;
}
.section-cards {
    display: flex;
    justify-content: center;
    &__header {
        & p {
            font-family: 'STARWARS';
            text-align: center;
            color: #B9A761;
            padding-bottom: 50px;
            transform: translateY(-30%);
        }
    }
}